@media (max-width: 1075px) {
  .skillsOne {
    margin-left: 15%; }

  .questions {
    margin-right: 2.75%; } }
@media (max-width: 1000px) {
  h1 {
    font-size: 17px; }

  h2 {
    font-size: 24px; }

  h3 {
    font-size: 20px;
    line-height: 1.35; }

  h5 {
    font-size: 17px; }

  .logo {
    width: 88%;
    padding-top: 16%; }
    .logo .logoContent .logo-text {
      right: 18.5%; }

  .header-text {
    margin: 10% auto; }
    .header-text .brief {
      width: 88%; }

  nav ul li {
    padding: 1.5% 0.25%; }

  .skillsOne {
    margin-left: 10%; }

  .portfolioPieces .piece {
    width: 50%;
    height: 250px; }
    .portfolioPieces .piece:hover {
      background-size: auto 137%; }
      .portfolioPieces .piece:hover .pieceCaption {
        padding-top: 25%; }
  .portfolioPieces .piece1,
  .portfolioPieces .piece2,
  .portfolioPieces .piece3 {
    background-size: auto 124%; }

  .questions .qButton .ask h3 {
    font-size: 18px; }

  .answers .ansCard h1 {
    font-size: 16px;
    line-height: 1.35; } }
@media (max-width: 850px) {
  h3 {
    font-size: 18px; }

  h6 {
    font-size: 11px; }

  .logo {
    width: 100%;
    padding-top: 28%; }
    .logo .logoContent .logo-text {
      right: 19.75%; }

  .header-text {
    margin: 12% auto; }
    .header-text .brief {
      width: 98%; }

  .skills {
    margin: 4% auto 6% auto; }
    .skills ul {
      width: 90%; }
    .skills li h3 {
      font-size: 16px; }

  .skillsOne {
    margin-left: 4%; }

  .content1 {
    width: 100%;
    padding: 6% 6%; }

  #headshot {
    width: 40%;
    margin: 3% 4% 1% 0; }

  .about {
    float: none;
    width: 100%;
    border: none;
    position: static; }

  .questions h2 {
    font-size: 21px; }
  .questions .qButton .ask h3 {
    font-size: 17px;
    line-height: 1.25; }

  .answers .ansCard h1 {
    font-size: 15px;
    line-height: 1.35; }

  .contact .socialLinks {
    margin-top: 3%; }
    .contact .socialLinks .social {
      width: 50%; }
    .contact .socialLinks .social3 {
      margin-top: 2%; } }
@media (max-width: 705px) {
  .faq {
    display: none; } }
