@media (max-width: 1075px) {
	.skillsOne {
		margin-left: 15%;
	}

	.questions {
		margin-right: 2.75%;
	}
}


@media (max-width: 1000px) {
	h1 {
		font-size: 17px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
		line-height: 1.35;
	}

	h5 {
		font-size: 17px;
	}

	.logo {
		width: 88%;
		padding-top: 16%;

		.logoContent .logo-text {
			right: 18.5%;
		}
	}

	.header-text {
		margin: 10% auto;

		.brief {
			width: 88%;
		}
	} // End .header-text

	nav ul li {
		padding: 1.5% 0.25%;
	}

	.skillsOne {
		margin-left: 10%;
	}

	.portfolioPieces {

		.piece {
			width: 50%;
			height: 250px;

			&:hover {
				background-size: auto 137%;

				.pieceCaption {
					padding-top: 25%;
				}
			} // End .piece:hover
		} // End .piece

		.piece1,
		.piece2,
		.piece3 {
			background-size: auto 124%;
		}

		.piece3 {
			// float: none;
			// margin: 0 auto;
		}
	} // End .portfolioPieces

	.questions .qButton .ask {

		h3 {
			font-size: 18px;
		}
	}

	.answers .ansCard {

		h1 {
			font-size: 16px;
			line-height: 1.35;
		}
	}
} // End max-width 1000px


@media (max-width: 850px) {
	h3 {
		font-size: 18px;
	}

	h6 {
		font-size: 11px;
	}

	.logo {
		width: 100%;
		padding-top: 28%;

		.logoContent .logo-text {
			right: 19.75%;
		}
	}

	.header-text {
		margin: 12% auto;

		.brief {
			width: 98%;
		}
	}

	.skills {
		margin: 4% auto 6% auto;

		ul {
			width: 90%;
		}

		li h3 {
			font-size: 16px;
		}
	} // End .skills

	.skillsOne,
	.skillsTwo {
		// width: 100%;
	}

	.skillsOne {
		margin-left: 4%;
	}
	
	.content1 {
		width: 100%;
		padding: 6% 6%;
	}

	#headshot {
		width: 40%;
		margin: 3% 4% 1% 0;
	}

	.about {
		float: none;
		width: 100%;
		border: none;
		position: static;
	}

	.questions {
		h2 {
			font-size: 21px;
		}

		.qButton .ask {

			h3 {
				font-size: 17px;
				line-height: 1.25;
			}
		} // End .qButton .ask
	} // End .questions

	.answers .ansCard {

		h1 {
			font-size: 15px;
			line-height: 1.35;
		}
	} // End .answers .ansCard

	.contact .socialLinks {
		margin-top: 3%;

		.social {
			width: 50%;
		}

		.social3 {
			margin-top: 2%;
		}
	}
} // End max-width 850px


@media (max-width: 705px) {
	.faq {
		display: none;
	}
}


@media (max-width: 680px) {
	.banner {
		width: 100%;
	}

	.logo {
		width: 110%;
		padding-top: 11%;

		.logoContent .logo-text {
			right: 20.75%;
		}
	}

	.header-text {
		margin: 10% auto 0 auto;

		.brief {
			width: 90%;
		}
	}

	nav {
		display: none;
	}

	.navToggle {
		display: block;
	}

	.mobileMenu {
		display: block;
	}

	.wrapper {
		width: 85%;
	}

	.skills ul {
		text-align: center;

		&:last-child {
			text-align: center;
		}
	}

	.skills li {
		display: block;
		width: 100%;
		border: none;

		.skillsIcon {
			width: 20%;
		}

		h3 {
			font-size: 21px;
			right: 6.25%;
			padding: 7.5% 0 7.5% 3.5%;
			margin: 1.5% 0;
		}
	} // End .skills li

	.skillsOne,
	.skillsTwo {
		margin-left: 5%;
	}

	.portfolioPieces {
		
		h3 {
			margin-bottom: 7%;
		}

		.piece {
			width: 100%;
			height: 300px;

			&:hover {
				background-size: 113% auto;

				.pieceCaption {
					padding: 22% 5% 27% 5%;
				}
			}
		} // End .piece

		.piece1,
		.piece2,
		.piece3 {
			background-size: 100% auto;
		}
	} //End .portfolioPieces

	.copyright {
		width: 100%;
		margin: 4% 0 2% 0;
	}
} // End max-width 680px

@media (max-width: 550px) {
	.skills li h3 {
		font-size: 14px;
	}

	.portfolioPieces .piece1,
	.portfolioPieces .piece2,
	.portfolioPieces .piece3 {
		background-size: auto 100%;
	}

	#headshot {
		float: none;
		width: 100%;
	}

	.contact .socialLinks .social {
		float: none;
		width: 100%;
		margin-bottom: 3%;
	}

	.logo-small {
		display: block;
		width: 100%;
		margin-top: 5%;
	}

	.copyright {
		text-align: left;
		margin: 10% 0;
	}

} // end max-width 550px